html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica;
	font-weight: lighter;
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.navbar {
	background:rgba(255,255,255, 0.77);
}

.header {
	font-size: 20px;
}

.list {
	padding-left: 30px;
	padding-right: 30px;
}

.venue {
	border-style: solid;
	border-width: 3px;
	border-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.lineup {
	border-style: solid;
	border-width: 1px;
	padding: 10px;
}

.btn {
	margin: 5px;
}

#mapDiv {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#searchBar {
	width: 50%;
}

#navbar ul {
	text-align: right;
}