html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica;
	font-weight: lighter;
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

h1 {
	font-weight: lighter;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar {
	background: black; /* fallback for browser support*/
	background: rgba(255,255,255, 0.77);
}

.header {
	font-size: 20px;
}

.list {
	padding-left: 30px;
	padding-right: 30px;
}

.venue {
	border-style: solid;
	border-width: 3px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #f1f1f1;
}

.lineup {
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	background-color: white;
}

.btn {
	margin: 5px;
}

.input-group {
	width: 90%;
}

.event-title {
	font-size: 18px;
}

.event-date {
	font-size: 15px;
}

.mapDiv {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}